.logo{
	padding: 50px; 
	margin-left: auto; 
	margin-right: auto; 
	display: block;
	width: 300px;
}

.imghome{
	margin-left: auto; 
	margin-right: auto; 
	display: block;
	width: 300px;
	margin-bottom: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 1px 0px 4px 4px rgba(0,0,0,0.04); 
	box-shadow: 1px 0px 4px 4px rgba(0,0,0,0.04);
	background: #FFFFFF;
}

.box{
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
}

.title{
	text-align: center;
	margin-bottom: 50px;
}

@media (max-height: 850px){
	.order {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

@media (min-height: 900px){
	.order {
		position: relative;
	}
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.w3-bar {
	background: white;
	-webkit-box-shadow: 1px 0px 4px 4px rgba(0,0,0,0.04); 
	box-shadow: 1px 0px 4px 4px rgba(0,0,0,0.04);
}

.avatar {
	margin: 20px;
    border-radius: 50%;
    width: 35px;
}

 .img-merchant {
	border-radius: 5px;
	width: 100px;
	margin-right: 15px;
	margin-top: 10px;
	margin-left: 10px;
}

.merchant-name{
	font-weight: bold;
	font-size: 14px;
}

p{
	font-size: 11px;
}

.info{
	font-size: 11px;
}

.search-border{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	color: #434a54 !important;
}

.search-input{
	border-color: #e6e9ed !important;
	background: #e6e9ed  !important;
	border-radius: 5px !important;
}

.blue{
	color: #4A89DC;
}

.yellow{
	color: #FFCE54;
}

.header-title{
	color: #434a54;
	font-weight: bold;
}

.count {
	position: relative;
	float: right;
	bottom: 15px;
}

.item-total {
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

.back {
	width: 25px;
	margin: 15px;
}

.item-type{
	font-weight: bold;
	margin-bottom: 10px;
}

.price{
	font-weight: bold;
	font-size: 12px;
}

.price-info{
	width: 100%;
}

.map-icon {
	width: 25px;
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}
.w3-bottom {
	background: white;
	-webkit-box-shadow: 1px 0px 4px 4px rgba(0,0,0,0.04); 
	box-shadow: 1px 0px 4px 4px rgba(0,0,0,0.04);
}

.total-price{
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-top: 15px;
	width: 100%;
}

.order{
	float: right;
	margin: 15px;
}

.switch {
	position: relative;
	display: flex;
	margin: 15px auto;
	width: 200px;
	height: 34px;
	border-radius: 5px;
  }
  
   .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #4FC1E9;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 34px;
	width: 100px;
	left:0px;
	background-color: #3bafda;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  
  input:checked + .slider {
	background-color: #4FC1E9;
  }
  
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform: translateX(100px);
  }
  
  .text {
	color: white;
  }
  
  .text:after {
	position: absolute;
	top: 7px;
	right: 10px;
	content: "Take Away";
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
  }
  .text:before {
	position: absolute;
	top: 7px;
	left: 10px;
	content: "On the spot";
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
  }
  
  input + .slider + .text:after {
	opacity: 1;
  }
  input + .slider + .text:before {
	opacity: 0;
  }
  
  
  input:checked + .slider + .text:after {
	opacity: 0;
  }
  
  input:checked + .slider + .text:before {
	opacity: 1;
  }